* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  /* background-image: linear-gradient(120deg, #f6ab65, #fda085); */
  background-image: linear-gradient(to top right, #a2b9bc, #b2ad7f);
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
}

.header, form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin-top: 3.6rem;
}

.header h1 {
  border-right: 3px solid #333;
  overflow: hidden;
  /* need letter spacing for non mono font */
  /* letter-spacing: 0.2rem; */
  white-space: nowrap;
  font-size: 7.6em;
  font-weight: 600;

  animation: typing 3s steps(6),
    blinking-cursor .75s infinite step-end;
}

@keyframes typing {
  0%{ width: 0ch }
  25%{ width: 6ch; }
  100%{ width: 6ch; }
}

@keyframes blinking-cursor {
  0%, 100%{ border-color: transparent; }
  50%{ border-color: white; }
}


form input,
form button {
  font-family: 'Source Code Pro', monospace;
  padding: 0.5rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
  background-color: white;
}

form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form button {
  color: #758c55;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button:hover {
  background-color: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none; 
}

.todo {
  margin: 1rem;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.delete-btn, 
.complete-btn {
  background: #ffa94d;
  color: #fff;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #1098ad;
}

/* disable clicking on icon so there are no pointer position issues when clicking on button */
.fa-check,
.fa-xmark {
  font-size: 1.4rem;
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.error {
  font-size: 1.2rem;
  color:rgb(254, 113, 47);
  display: flex;
  justify-content: center;
}