* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-image: linear-gradient(120deg, #f6ab65, #fda085);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem
}

header, form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.6rem;
  border: none;
  background-color: white;
}

form button {
  color: #d88771;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none; 
}

.todo {
  margin: 1rem;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.delete-btn, .complete-btn {
  background: #f77f5d;
  color: #fff;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(140, 201, 43);
}